body {
	font-family: Arial, sans-serif;
}


.container {
	width: 70%;
	margin: auto;
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
}

#search-input {
	height: 2rem;
	width: 30%;
	border: none;
	outline: 0;
	background: #f4f4f4;
	padding: 5px 10px;
	border-radius: 10px;
}

#search-input:focus {
	outline: 0;
}

button {
	height: 100%;
}

#table {
	margin-top: 2.5rem;
	border-collapse: collapse;
}


#table td, th {
	border: 1px solid;
	padding: 15px;
}